{% include header.html %}
<header>
    <img src="pic/ck.jpg">
    <h1>
        <strong>
            <br> Kuan Cheng
        </strong>
    </h1>
    <p> Fujian University of Technology
        <br> Fuzhou, Fujian, China
        <br> Master Candidate </p>
    <nav>
        <ul>
            <li>
                <a href="https://twitter.com/Kuan_0207">Twitter</a>
            </li>
            <li>
                <a href="https://github.com/ChengKuan0207">Github</a>
            </li>
            <li>
                <a href="mailto:chengkuan0207@163.com">chengkuan0207 AT 163 DOT com</a>
            </li>
        </ul>
    </nav>
</header>
<section class="content">
    <p> 
        <strong class="highlight">Education Experience</strong>
        <br>
        <br>K. C. was born in <a href="https://en.wikipedia.org/wiki/Changchun">Changchun</a> in 1999. 
        <br>He got his Associate of Engineering degree at <a href="http://www.ccut.edu.cn/">Changchun University of Technology</a> in 2019.
        <br>He got his Bachelor of Science degree from <a href="https://www.ccit.edu.cn/">Changchun Institute of Technology</a> in 2021.
        <br>Now, he is working for a Master of Engineering degree at <a href="https://www.fjut.edu.cn/">Fujian University of Technology</a> and majoring in Materials Science and Engineering.
    </p>
    <p>
        <strong class="highlight">Research Interests</strong>
        <br>
        <br> He is currently dedicating himselves to design <ins>collagen-based biomedical materials</ins>.
    </p>
    <p>
        <strong class="highlight">Publications</strong>
        <br>
        <br>2023&nbsp;&nbsp;&nbsp;&nbsp;C. Ding, M. Tian, Y. Wang, <span class="highlight">K. Cheng</span>, Y. Yi and M. Zhang, <i> Int. J. Biol. Macromol.</i>
        <a href="https://doi.org/10.1016/j.ijbiomac.2023.124469">[CrossRef]</a> 
        <br>2023&nbsp;&nbsp;&nbsp;&nbsp;Y. Wang, <span class="highlight">K. Cheng</span>, Y. Yi, Y. Wang, M. Zhang, X. Liu and C. Ding, <i>Food Sci. Technol.</i>
        <a href="https://doi.org/10.13684/j.cnki.spkj.2023.09.018">[CrossRef]</a>
        <br>2023&nbsp;&nbsp;&nbsp;&nbsp;<span class="highlight">K. Cheng</span>, Y. Wang, Y. Yi, M. Zhang, X. Liu and C. Ding, <i>Food Res. Dev.</i>(Received)
        <a href="http://spyjykf.ijournals.cn/ch/reader/view_abstract.aspx?flag=2&file_no=202308010000011&journal_id=spyjykf">[CrossRef]</a>
    </p>
</section>
{% include footer.html %}
